# 1. Introduction to Python

## Background Information
<div>
    <p>
        <ul>
            <li>Started in 1991</li>
            <li>Created by Guido van Rossum</li>
            <li>Used for Data Science, Web Development, and Automation</li>
            <li>Open Source</li>
            <li>Huge Community</li>
        </ul>
    </p>
</div>

## Reasons for Growth of Python
<div>
    <div>
        <ul>
            <li>Increase in the amount of data available.</li>
            <li>Python is relatively easy to use.</li>
            <li>Because of the ease of use, people outside the Computer Science background are also picking it.</li>
            <li>Universities are switching to Open Source languages like Python and R.</li>
        </ul>
    </div>
</div>

## Python Version
<p>We can check which version of Python is installed on our machine using the command <code>python --version</code> or <code>python3 --version</code>. If the Python version is not displayed, then we will need to download and install Python from the official website.</p>

## Python Interactive Version
<div>
    <p>We can access and use the Python's interactive version using the <code>python</code> or <code>python3</code> command in Terminal or Command Prompt or Window Powershell.</p>
    <p>We can execute the Python Statements directly in the interactive version.</p>
    <p>We can obtain the Copyright information using the <code>copyright()</code> command.</p>
    <p>We can obtain the information about credits using the <code>credits()</code> command which which will give us the names of the companies which participated in Python Development.</p>
    <p>We can come out of the interactive version using the <code>exit()</code> command in the interactive version.</p>
</div>

# 2. IDEs & Code Editors
<p>Some of the most common IDEs and Code Editors for Python Development are:</p>
<ol>
    <li><img src="https://drive.google.com/uc?id=105zeCkO3dLbBqEv9BHxlWOeUbf_OcyY5" alt="PyCharm IDE" height="20px"> PyCharm</li>
    <li><img src="https://drive.google.com/uc?id=1wInpWNaOBQZbbjyNs8Pg6k7tUMzxpAWt" alt="Visual Studio Code" height="20px"> Visual Studio Code + Code Runner Extension</li>
    <li><img src="https://drive.google.com/uc?id=1yuhVD5lvqKe8sJrnRnHDYvYlkBxpbCZb" alt="Atom Code Editor" height="20px"> Atom</li>
    <li><img src="https://drive.google.com/uc?id=13m5hr14MGzMpaK_EvRdVixdYQb8w5iHA" alt="Sublime Text" height="20px"> Sublime Text</li>
    <li><img src="https://drive.google.com/uc?id=1QSwcWioVSZe7MLGihXoKNiiJH78BzJpu" alt="Anaconda Navigator" height="20px"> Anaconda</li>
    <li><img src="https://drive.google.com/uc?id=17xtDT_0NtVcsiOiGrXxrY1FzBqcW29YO" alt="Jupyter Notebook" height="20px"> Jupyter Notebook</li>
</ol>

## Software - Anaconda
<div>
    <div>
        <p>Anaconda is a free and open-source distribution of thye Python and R programming language for scientific computing, that aims to simplify package management and deployment. A lot of Python packages are pre-installed with this software.</p>
    </div>
</div>

## Software - Jupyter
<div>
    <div>
        <p>The Jupyter Notebook is an open-source web application that allows you to create and share documents that contain live code, equations, visualizations and narrative text. The name Jupyter comes from the following programming languages: Julia, Python and R.</p>
    </div>
</div>

# 3. Interpreted and Compiled Languages

### Interpreted Languages: Advantages and Disadvantages
<table>
    <thead>
        <tr>
            <td>Advantages</td>
            <td>Disadvantages</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Dynamic Typing</td>
            <td>No type checking</td>
        </tr>
        <tr>
            <td>Fast Turnaround Time</td>
            <td>Slow Performance</td>
        </tr>
        <tr>
            <td>Portability</td>
            <td>Execution is dependent on the environment and language version</td>
        </tr>
        <tr>
            <td>Focused execution</td>
            <td>Limited hardware control and Memory Management</td>
        </tr>
        <tr>
            <td>Easy to debug, simple functionality</td>
            <td></td>
        </tr>
    </tbody>
</table>

### Compiled Languages: Advantages and Disadvantages
<table>
    <thead>
        <tr>
            <td>Advantages</td>
            <td>Disadvantages</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Fast Execution speed</td>
            <td>Hardware specific</td>
        </tr>
        <tr>
            <td>Easier access to hardware</td>
            <td>Require compilation before execution</td>
        </tr>
        <tr>
            <td>Efficient at Memory Management</td>
            <td>Higher Coding Standards</td>
        </tr>
        <tr>
            <td>Self-contained Languages</td>
            <td>Slow Turnaround Time</td>
        </tr>
        <tr>
            <td>Large Debugging Toolbox</td>
            <td></td>
        </tr>
    </tbody>
</table>

# 4. Tiobe Index
<div>
    <div>
        <table>
            <thead>
                <tr>
                    <td>Oct 2020</td>
                    <td>Oct 2019</td>
                    <td>Programming Language</td>
                    <td>Rantings</td>
                    <td>Change</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>C</td>
                    <td>16.95%</td>
                    <td>0.77%</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>1</td>
                    <td>Java</td>
                    <td>12.56%</td>
                    <td>-4.32%</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>3</td>
                    <td>Python</td>
                    <td>11.28%</td>
                    <td>+2.19%</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>4</td>
                    <td>C++</td>
                    <td>6.94%</td>
                    <td>+0.71%</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>5</td>
                    <td>C#</td>
                    <td>4.16%</td>
                    <td>+0.30%</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>6</td>
                    <td>Visual Basic</td>
                    <td>3.97%</td>
                    <td>+0.23%</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>9</td>
                    <td>PHP</td>
                    <td>2.09%</td>
                    <td>+0.18%</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>15</td>
                    <td>R</td>
                    <td>1.99%</td>
                    <td>+0.73%</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>8</td>
                    <td>SQL</td>
                    <td>1.57%</td>
                    <td>-0.37%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

# 5. Basic Concepts in Python

## Key Concepts in Python

### Objects
<div>
    <p>Python is an Object-oriented Programming Language. All Entities (Strings, Integers, Functions etc.) in Python are <b style = "color: red;">Objects</b>. An <span style = "color: redl">Object</span> is always an instance of a specific <span style = "color: blue;">Class</span>.</p>
</div>

### Classes
<div>
    <p>A <b style = "color: blue;">Class</b> is a template or prototype for creating objects. We can create as <span style = "color: red">many</span> object based on the <span style = "color: blue">same</span> class but these would be independent and different from each other. We can perform different operations using different objects. Each such object is called Instance of that specific class.</p>
</div>

### Attributes
<div>
    <p class="content">Each object has <b style = "color: red">Attributes</b>. An Object Attribute is called a <b style="color: blue;">Method</b> if its value is a <b style="color: red;">Function</b>. Each object would have: Own Attributes and Inherited Attributes.</p>
</div>

## Main Data Types in Python
<div>
    <p>Some of the main data types in Python are:</p>
    <ul>
        <li>String</li>
        <li>Integer</li>
        <li>Boolean</li>
        <li>List: These are ordered sequences of elements. The order of elements in the list does matter.</li>
        <li>Dictionary: It is a set of Key-value pairs. The keys are mentioned within <code>''</code> or <code>""</code>. We can modify the values in dictionaries.</li>
    </ul>
</div>

### Strings

In [ ]:
print('Hello, world!')
print("Hello, world!")

Hello, world!
Hello, world!

### Integers

In [ ]:
print(1)
print(-1)

1
-1

### Booleans
<div>
    <p>The Boolean values begin with a capital alphabet. If we use lowercase alphabets, then Python will throw an error as Python will interpret them as names of variables.</p>
</div>

In [ ]:
print(True)
print(False)

True
False

### Lists

In [ ]:
# Empty List
print("Empty List: {}".format([]))

Empty List: []

In [ ]:
# List with Elements
print("Elements in the List: {}".format([1,2,3,4,5]))

Elements in the List: [1, 2, 3, 4, 5]

### Dictionaries

In [ ]:
# Empty Dictionary
print("Empty List: {}".format({}))

Empty List: {}

In [ ]:
# Non-empty Dictionary
print("Empty List: {}".format({'key': 1}))

Empty List: {'key': 1}

<p>We can create a dictionary in multiple lines as well.</p>

In [ ]:
# Non-empty Dictionary
dictionary = {
                'key_1': 1,
                'key_2': 2
             }
print("Empty List: {}".format(dictionary))

Empty List: {'key_1': 1, 'key_2': 2}

# 6. Expressions and Instructions

## Simple Arithmetic Operations
<div>    
    <div>
        <p>Use the cells below to make the following calculations:</p>
        <ol>
            <li>20 plus 30 (the code is given, just run the cell)</li>
            <li>20 minus 30</li>
            <li>20 times 30</li>
            <li>20 divided by 30</li>
            <li>20 to the power 30 (*hint*: use two asterisks: `**`)</li>
        </ol>
    </div>
</div>

In [ ]:
# Addition
20 + 30

50

In [ ]:
# Subtraction
20 - 30

-10

In [ ]:
# Multiplication
20 * 30

600

In [ ]:
# Division
20 / 30

0.6666666666666666

In [ ]:
# Exponent
20 ** 30

1073741824000000000000000000000000000000

## Variables
<div>
    <div>
        <ol>
            <li>Create a variable `a` and assign the value `20`, so `a = 20`</li>
            <li>Create a variable `b` and assign the value `30`</li>
            <li>Add `a` and `b`, the outcome should be 50</li>
            <li>Multiply `a` by `b`, the outcome should be 600</li>
        </ol>
    </div>
</div>

In [ ]:
# Create a variable `a` and assign the value `20`, so `a = 20`
a = 20

In [ ]:
# Create a variable `b` and assign the value `30`
b = 30

In [ ]:
# Add `a` and `b`, the outcome should be 50
a + b

50

In [ ]:
# Multiply `a` by `b`, the outcome should be 600
a * b

600

In [ ]:
# Reassign and print
x = 100
y = 5
print(x * y)

500

In [ ]:
# Print undeclared variable
# print(c)
# uncomment the above statement to see the output

The output obtained for the above case is:

---------------------------------------------------------------------------

NameError                                 Traceback (most recent call last)<br>
<ipython-input-1-c0be985ee631> in <cell line: 2>()<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1 # Print undeclared variable<br>
----> 2 print(c)

NameError: name 'c' is not defined

Calculate the value of `c` in $a^{2}$ + $b^{2}$ = $c^{2}$? (Pythagorean Theorem)

In [ ]:
a = 4
b = 3
c = ((a ** 2) + (b ** 2)) ** 0.5
print(c)

5.0

## <code>print()</code> Statement

Every <code>print()</code> statement uses it's own line. For example:

In [ ]:
x = 4
y = 5
print(x)
print(y)

4
5

### Using Separator

We can print the values together as well, using <code>','</code>, which will place a space between the values of the variables as:

In [ ]:
city = "New Delhi"
country = "India"
print(city, country)

New Delhi India

<p>The above way to print is a default way to print using the separator but we can add some parameters as well, for example:</p>

In [ ]:
print(city, country, sep=" : ")

New Delhi : India

### Using End-of-Line
<p>By default, we have the <code>\n</code> as the default character but we can change it by assigning the required value to the using the <code>end</code> parameter of <code>print()</code> statement.</p>

In [ ]:
print(city, end=".")
print(country)

New Delhi.India

<p>Since we changed the end-of-line character for the first statement, we can see it in the output that both the values are printed in the same line.</p>

# Introduction to Functions and Built-in Functions in Python

## User-defined Functions

<div>
    <p>We can create our own functions in Python as:</p>
    <pre><code>
        def my_function(a, b):
            a = a + 1
            c = a + b
            return c
    </code></pre>
    <p>The user=defined functions consist of the following:</p>
    <ol>
        <li>Function Name</li>
        <li>Function Parameters</li>
        <li>Function Body</li>
        <li>Colon after Parenthesis</li>
        <li>Return statement</li>
    </ol>
    <p>If we do not mention the return statement, then Python will just return <code>null</code> as the return value.</p>
</div>

## Built-in Functions

<div>
    <p><code>print()</code> is one of the built-in function. We use the parenthesis <code>()</code> to call a function. Usually when we call a function, we have to pass an argument. Let's see what happens when we try to print information about <code>print</code> function as:</p>
</div>

In [ ]:
print(print)

<built-in function print>

<div>
    <p>If we were to try this with all the other built-in functions, then we will receive the same result.</p>
    <p>We can access all the available attributes using the <code>.</code> operator as:</p>
</div>

In [ ]:
name = 'Aashish'
print(name.upper())

AASHISH

<div>
    <p>Here, <code>upper</code> is an attribute and it is a <span style = "color:green;">Method</span>. It is called and used using the Dot Operator.</p>
</div>

## Defining and Using Functions
<div>
    <p>Functions in Python are created using the <code>def</code> keyword. So, we can use the following syntax:</p>
</div>

```python
def FUNCTION_NAME():
    FUNCTION_STATEMENTS

# Calling the Function
FUNCTION_NAME()
```

<div>
    <p>We can pass parameters to the function as:</p>
</div>

```python
def FUNCTION_NAME(parameter1, parameter2):
    FUNCTION_STATEMENTS
    print("Parameter 1: {}".format(parameter1))
    print("Parameter 2: {}".format(parameter2))

# Calling the Function
FUNCTION_NAME(argument1, argument2)
```

<div>
    <p>Example:</p>
</div>

In [ ]:
def add_numbers(a, b):
    sum = a + b
    print("Sum: {}".format(sum))

add_numbers(5, 10)

Sum: 15

<div>
    <p>If we were to call the function with the arguments, then we will receive an error.</p>
</div>

## Using the <code>return</code> statement in Functions
<div>
    <p>We can create the function as:</p>
</div>

In [ ]:
def multiply_numbers(a, b):
    product = a * b
    return product

result = multiply_numbers(5, 10)
print("Product: {}".format(result))

Product: 50

<div>
    <p>Now, suppose we do not add the return statement to the above function as:</p>
</div>

```python
def multiply_numbers(a, b):
    product = a * b

result = multiply_numbers(5, 10)
print("Product: {}".format(result))
```

<div>
    <p>In this case, we will receive <code>None</code> as the result. <code>None</code> is the default value which is returned by any statement.</p>
    <p>Once, we have provided the <code>return</code> statement, we cannot provide anymore statements in that method. So, the <code>return</code> statement is the last statement to be executed in any method. This is because as soon as the function returns the value, the control is given back to the point of execution where that function was called from. Due to this, for the statements provided after the <code>return</code> statement, we will recieve Error/Warning stating, "This code is unreachable".</p>
</div>

## Common Built-in Functions

### Print Function
<div>
    <p>This is the most commonly used built-in function. We have the definition for it as:</p>
</div>

```python
def print(
    *values: object, sep: string, end: string, file: file, flush: boolean
) -> None: ...
```

<div>
    <p>In the above method, we can see that the return type of the function is <code>None</code>. This method will always return <code>None</code> no matter what we pass to the function. We have the documentation as:</p>
</div>

```python
def print(
    *values: object,
    sep: str | None = ...,
    end: str | None = ...,  
    file: SupportsWrite[str] | None = ...,
    flush: bool = ...
) -> None: ...
```

<div>
    <p><b>Description </b>: The function prints the values to a stream, or to sys.stdout by default. We have the following parameters:</p>
    <ul>
        <li><b><code>sep</code></b>: string inserted between values, default is a space.</li>
        <li><b><code>end</code></b>: string appended after the last value, default a newline.</li>
        <li><b><code>file</code></b>: a file-like object (stream); defaults to the current <code>sys.stdout</code>.</li>
        <li><b><code>flush</code></b>: whether to forcibly flush the stream.</li>
    </ul>
</div>

In [ ]:
print("Name: {}".format("Aashish Bansal"))

Name: Aashish Bansal

### Absolute Value
<p><code>abs()</code> returns the absolute value of a number.</p>

In [ ]:
Absolute_value = abs(-42)
print(Absolute_value)

42

### Check Truth Values

<p><code>any()</code> returns True if at least one element of an iterable is True.</p>

In [ ]:
Bool_list = [True, False, True, True]
print(any(Bool_list))

True

<p><code>all()</code> returns True if all elements of an iterable are True.</p>

In [ ]:
print(all(Bool_list))

False

### Convert to Character and Unicode

<p><code>chr()</code> converts an ASCII Value to a character.</p>

In [ ]:
Char_value = chr(65)
print(Char_value)

A

<p><code>ord()</code> returns the Unicode code point of a character.</p>

In [ ]:
Unicode_value = ord('€')
print(Unicode_value)

8364

### Determine Length
<p>The <code>len()</code> function returns the number of items in an object. It works with sequences like strings, lists, and tuples.</p>

In [ ]:
string_length = len("Hello, Python!")
print(string_length)

14

In [ ]:
list_length = len([1,2,3,4,5])
print(list_length)

5

### Find Maximum and Minimum
<p><code>max()</code> and <code>min()</code> return the maximum and minimum values of a sequence or multiple arguments.</p>

In [ ]:
x = min(5, 10, 25)
print("Minimum value in the list: {}".format(x))

Minimum value in the list: 5

In [ ]:
y = max(5, 10, 25)
print(y)
print("Maximum value in the list: {}".format(y))

25
Maximum value in the list: 25

### Get Type Information
<p><code>type()</code> returns the type of an object. It will provide the name of the class which is used for the creation of the specific object. This is particularly useful when dealing with dynamic typing in Python.</p>

In [ ]:
Var_type = type(42)
print(Var_type)

<class 'int'>

In [ ]:
Var_type_str = type("Hello")
print(Var_type_str)

<class 'str'>

### List of Available Attributes for an Object

<div>
    <p>We have the documentation for the <code>dir()</code> function as:</p>
    <b>Syntax:</b>
</div>

```python
def dir(__o: object = ...) -> list[str]
```

<div>
    <p><code>dir([object]) -> list of strings</code></p>
    <p>If called without an argument, return the names in the current scope. Else, return an alphabetized list of names comprising (some of) the attributes of the given object, and of attributes reachable from it. if the object supplies a method name <code>__dir__</code>, it will be used; otherwise the default <code>dir()</code> logic is used and returns.</p>
    <p>for a module object: the module's attributes. for a class object: its attributes, and recursively the attributes of its bases.</p>
    <p>for any other object: its attributes, its class' attributes, and recursively the attributes of its class' base classes.</p>
</div>

<div>
    <p>We can use the <code>dir()</code> function to obtain the list of attributes which we are available along with an object.</p>
</div>

In [ ]:
name = 'Aashish'
print(dir(name))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

<div>
    <p>We can see that the Object in the above code is a string which is an instance of the built-in class. From the output, we can see the number of attributes which are available along with this object which we can use while creating the logic. Most of the attributes are also inherited attributes which are inherited by the <code>name</code> variable. This list also consists of the names of several built-in methods.</p>
</div>

<div>
    <p>Now, suppose we print the function <code>dir()</code>, then we receive the following output:</p>
</div>

In [ ]:
print(dir())

['Absolute_value', 'Bool_list', 'Char_value', 'In', 'Out', 'Unicode_value', 'Var_type', 'Var_type_str', '_', '_10', '_11', '_12', '_13', '_16', '_17', '_9', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i11', '_i12', '_i13', '_i14', '_i15', '_i16', '_i17', '_i18', '_i19', '_i2', '_i20', '_i21', '_i22', '_i23', '_i24', '_i25', '_i26', '_i27', '_i28', '_i29', '_i3', '_i30', '_i31', '_i32', '_i33', '_i34', '_i35', '_i36', '_i37', '_i38', '_i39', '_i4', '_i40', '_i41', '_i42', '_i5', '_i6', '_i7', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', 'a', 'add_numbers', 'b', 'c', 'city', 'country', 'dictionary', 'exit', 'get_ipython', 'list_length', 'multiply_numbers', 'name', 'quit', 'result', 'string_length', 'x', 'y']

<div>
    <p>So, this is the list of strings. This is the list of names which are available in the current scope. This is, basically, the list of variables which are directly accessible in the program.</p>
    <p>Suppose we call the <code>__name__</code> value as:</p>
</div>

In [ ]:
print(__name__)

__main__

<div>
    <p>This is the value obtained from the main file.</p>
    <p>Suppose we call the <code>__builtins__</code> value as:</p>
</div>

In [ ]:
print(__builtins__)

<module 'builtins' (built-in)>

<div>
    <p>Here, we can see that this is a module. This module is built-in into Python and it contains all the built-in functions in Python.</p>
</div>

<div>
    <p>Now, we can obtain the list of values available for a specific method as:</p>
</div>

In [ ]:
print(dir(__builtins__))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EncodingWarning', 'EnvironmentError', 'Exception', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'aiter', 'all', 'anext', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

<div>
    <p>This provides a list of different variables and functions available for the object.</p>
</div>

### Obtain Input from the User

<div>
    <p>We have the documentation for the <code>input()</code> function as:</p>
    <b>Syntax:</b>
</div>

```python
def input(__prompt: Any = ...) -> str
```

<div>
    <p><b>Description</b>: Read a string from standard input. The trailing newline is stripped.</p>
    <p>The prompt string, if given, is printed to standard output without a trailing newline before reading input.</p>
    <p>If the user hits EOF (*nix: Ctrl-D, Windows: Ctrl-Z+Return), raise EOFError. On *nix systems, readline is used if available.</p>
</div>

<div>
    <p>We can take an input from the user using the <code>input()</code> method. We can take input in the terminal of the application when we execute it. We can provide a prompt within the <code>()</code> which the user will be able to see. This method will take the value and assign it to the variable.</p>
</div>

In [ ]:
print('Enter your name:')
x = input()
print('Hello, ' + x)

Enter your name:
Aashish
Hello, Aashish

In [ ]:
x = input('Enter your name:')
print('Hello, ' + x)

Enter your name:Aashish
Hello, Aashish

<div>
    <p>We need to remember that the <code>input()</code> function will always return a String. We can see that as:</p>
</div>

In [ ]:
x = input('Enter your name:')
print('Hello, ' + x)
print("Type of input is: {}\n".format(type(x)))

x = input('Enter a number:')
print('Number: ' + x)
print("Type of input is: {}".format(type(x)))

Enter your name:Aashish
Hello, Aashish
Type of input is: <class 'str'>

Enter a number:1
Number: 1
Type of input is: <class 'str'>

<div><p>We can convert the value of <code>input()</code> to a specific type using the built-in functions as:</p></div>

In [ ]:
num = int(input("Enter any number: "))
print("Value of 'num': {}\n".format(num))
print("Type of 'num': {}".format(type(num)))

Enter any number: 1
Value of 'num': 1

Type of 'num': <class 'int'>

### Obtain Location of Spcific Object in Memory
<div>
    <p>We can use the <code>id()</code> function to obtain the location of a specific object in the memory.</p>
</div>

In [ ]:
x = ('apple', 'banana', 'cherry')
y = id(x)
print("The Memory Location where 'x' is stored is: {}".format(y))

The Memory Location where 'x' is stored is: 132932801420096

### Round a Number
<p><code>round()</code> rounds a floating-point number to the nearest integer.</p>

In [ ]:
Rounded_value = round(3.14159)
print(Rounded_value)

3

### Sort Iterable
<p><code>sorted()</code> returns a sorted list from the specified iterable.</p>

In [ ]:
Unsorted_list = [5,1,8,3,2]
Sorted_list = sorted(Unsorted_list)
print(Sorted_list)

[1, 2, 3, 5, 8]

### Sum of Elements
<p><code>sum()</code> calculates the sum of all items in an iterable.</p>

In [ ]:
Numbers = [1,2,3,4,5]
Sum_result = sum(Numbers)
print(Sum_result)

15

# 7. Code Formatting and PEP8

## Code Indentations

<div>
    <p><b>Indents</b> in Python play an important role because with the help of indentation, Python tends to understand about the beginning and ending of a particular block of code. For example, if we create a function, we will have to indent the function body. So, the following code represents the correct syntax:</p>
</div>

```python
def print_name_function(name):
    print(name)
```

<div>
    <p>The following code represents the incorrect syntax:</p>
</div>

```python
def print_name_function(name):
print(name)
```

<div>
    <p>The above code will throw the following error:</p>
    <code>IndentationError: expected an indented block</code>
</div>
<div>
    <p>We should keep the indentation consistent across the complete program.</p>
</div>

## Working with Indentations

<div>
    <p>Suppose we have the following function:</p>
</div>

In [ ]:
def print_num(num):
    print(num)

In [ ]:
print_num(5)

5

<div>
    <p>We can see that there were no errors or warnings thrown by the function, which means that the code is correct and it gave the expected output.</p>
</div>

## Following PEP8 Guidelines

<div>
    <p><b>PEP</b> stands for <b>Python Enhancement Proposal</b>. It is just a document descibing recommendations for writing Python code.</p>
    <p><b>URL</b>: <a href="https://peps.python.org/pep-0008/" target="_blank">https://peps.python.org/pep-0008/</a></p>
    <p>The above documentation contains a lot of guidelines and recommendations for writing python code.</p>
    <p>Some of the basic rules according to PEP8 are:</p>
    <ul>
        <li>Use <b>spaces</b> for indentations, not Tab.</li>
        <li>The length of the lines should not be more than <b>79 characters</b>.</li>
        <li><b>Functions</b> and <b>classes</b> must be separated from other lines of code by <b>two empty lines</b>.</li>
        <li>Module imports should be on separate lines.</li>
        <li><b>Comments</b> at the <b>end of the code line</b> should be separated by at least <b>two spaces</b>.</li>
        <li><b>E117</b>: Over-indented. This will not throw any error and it means that we can potentially use more spaces.</li>
        <li><b>E201</b>: Whitespace after '('. This means that we should not add any whitespace(s) before/after the actual argument(s).</li>
        <li><b>E305</b>: Expected 2 blank lines after class or function definition.</li>
    </ul>
</div>

# 8. Comments

## Comments
<div>
    <p>Using Comments, we can some block(s) of text which are ignored by the Python interpreter. We can add comment anywhere in teh code.</p>
    <p>There are three different types of Comments in Python:</p>
    <ol>
        <li><b>Single-line Comment</b>: This comment is over a single line.</li>
        <li><b>Multi-line Comment</b>: This comment is over multiple lines.</li>
        <li><b>Code with Comment</b>: This is a comment after a code statement.</li>
    </ol>
</div>

## Adding Comments to Code

In [ ]:
# This is a Single Line Comment

In [ ]:
# This is a Muti-line
# Comment

'''
This is also a
multi-line comment.
(This is actually a Documentation Comment.)
'''

"""
Even this is a
multi-line comment.
(This is actually a Documentation Comment.)
"""

'\nEven this is a \nmulti-line comment.\n(This is actually a Documentation Comment.)\n'

In [ ]:
print(1) # This is a Code with Comment statement

1

# 9. Expressions and Instructions

## Understanding Expressions

<div>
    <p>The result of an <b>Expression</b> is the <b>value</b>. Examples of expressions:</p>
</div>

In [ ]:
5 + 3 # 8 - Sum of the values

8

In [ ]:
a > b # True or False

True

In [ ]:
'Hello ' + 'World' # 'Hello World

'Hello World'

In [ ]:
print_num(10) # Function result

10

<div><p>Even function calls are expressions because each function returns a specific value.</p></div>

## Understanding Statements

<div>
    <p><b>Statement</b> performs <b>Actions</b>.</p>
    <p>Examples of Statements: </p>
</div>

In [ ]:
# Assigning a value
my_name = "Aashish"

In [ ]:
# Conditional Statement
if(my_name):
    print("My Name: {}".format(my_name))

My Name: Aashish

<div><p>In a Conditional Statement, we must provide a valid Expression for evaluation.</p></div>

In [ ]:
# Importing a module
import datetime

## Using Expressions

<div><p>Some ecamples of expressions are:</p></div>

In [ ]:
a = 10 / 2
print("Value of 'a': {}".format(a))

Value of 'a': 5.0

<div><p>The return type of division operation is a floating-point value by default.</p></div>

In [ ]:
result = print()
print("Value of 'result': {}".format(result))

Value of 'result': None

In [ ]:
print("Value from 'print()': {}".format(print()))

Value from 'print()': None

<div>
    <p>We obtain this result because the <code>print()</code> statement has a return type of <code>None</code>. With this, we can say that each Function Call is an Expression because we can assign each of them to a variable and then use the result somewhere else.</p>
</div>

<div><p>We can convert the value of <code>input()</code> to a specific type using the built-in functions as:</p></div>

In [ ]:
num = int(input("Enter any number: "))
print("Value of 'num': {}\n".format(num))
print("Type of 'num': {}".format(type(num)))

Enter any number: 1
Value of 'num': 1

Type of 'num': <class 'int'>

<div><p>In the above code, we have the following expression:</p></div>

```python
input("Enter any number: ")
```

<div>
    <p>Here, <code>int()</code> was expecting an expression as an argument.</p>
    <p>We cannot add a function declaration or <code>if</code> statement to a <code>print()</code> statement because it is expecting an expression where the method declaration is actually statement(s).</p>
    <p>We will also receive an error if we try to assign a value within a <code>print()</code> statement stating, "Unexpected Argument".</p>
</div>

## Using Statements

In [ ]:
# Statement
a = 10

In [ ]:
# if Statement
if(10>2):
    print(True)

True

<div><p>We will receive an error with the following statement:</p></div>

```python
print(if(10>2):
    print(True))
```

In [ ]:
# Function declaration is also a Statement
def print_name(name):
    print("Name: {}".format(name))

print_name("Aashish")

Name: Aashish

<div><p>We will receive an error with the following statement:</p></div>

```python
print(def print_name(name):
    print("Name: {}".format(name)))
```

In [ ]:
# Import Statement
import datetime
# Here, we are importing one module to the current module.

print("Value of 'MAXYEAR' Attribute: {}".format(datetime.MAXYEAR))

Value of 'MAXYEAR' Attribute: 9999

<div><p>We will receive an error with the following statement:</p></div>

```python
print(import datetime)
```

# 10. Variables

## Variables

<div>
    <p>Variables make it possible to <b>keep values</b> for future access. They are like a storage for particular values. Technically, in Python, each variable is a pointer to a specific object in memory. Via specific variable, we can always go to that object, then read or modify that value. We can access these values using the Variable Name.</p>
    <p>Naming conventions:</p>
    <ul>
        <li><b>Snake Case</b>: Mostly used for variables, functions, methods, modules. Example Syntax: <code>snake_case</code>.</li>
        <li><b>Camel Case/Pascal Case</b>: Mostly used for Classes. Example Syntax: <code>PascalCase</code>.</li>
        <li><b>Dashed Names</b>: Mostly used for package names. Example Syntax: <code>my-package</code>.</li>
        <li><b>Upper Cased Snake Case</b>: Mostly used for Constant Variables. Example Syntax: <code>DB_PASSWORD</code>.</li>
    </ul>
    <p><b>Constant Variables</b> will have the same value throughout the program lifecycle.These values are generally assigned before the actual program execution begins.</p>
</div>

## Declaration and Assignment

<div><p>We can use the following syntax for declaring and assigning values:</p></div>

```python
NAME_OF_THE_VARIABLE = VALUE_TO_BE_ASSIGNED
```

<div><p>Example:</p></div>

```python
my_number = 10
```

<div><p>In Python, this is done on a single line of code. Here, <code>NAME_OF_THE_VARIABLE</code> is the ID of the object. We can always find the ID of the object using the built-in <code>id()</code> function.</p></div>

<div><p>Python is a <b>dynamically</b> typed language which means we can assign any value to the variable without providing the data type as:</p></div>

In [ ]:
my_variable = 10
my_variable = 'Aashish'
my_variable = True

<div><p>The type of the variable is determined by the type of assigned <b>value</b>.</p></div>

In [ ]:
my_variable = 10
print("Value in 'my_variable': {}\n".format(my_variable))

my_variable = 'Aashish'
print("Value in 'my_variable': {}\n".format(my_variable))

my_variable = True
print("Value in 'my_variable': {}".format(my_variable))

Value in 'my_variable': 10

Value in 'my_variable': Aashish

Value in 'my_variable': True

<div><p>Every entity in Python is an object, and when we create an object, then Python creates an instance of the built-in class of the type of the value assigned to the variable.</p></div>

In [ ]:
# Instance of Integer class
my_number = 10

# Instance of String class
my_string = 'abc'

## Defining and using Variables

<div><p>Example:</p></div>

In [ ]:
def print_city(city):
    print(city)

favorite_city = "New York"
print_city(print_city(favorite_city))

favorite_city = "Washington DC"
print_city(print_city(favorite_city))

New York
None
Washington DC
None

# 11. Data Types and Structures

## Understanding Dynamic Typing

<div>
    <p>Examples of Static Typeing:</p>
</div>

```c
String a = 'abc'
int b = 10
b = 'xyz' // Error
```

<div>
    <p>Examples of Dynamic Typeing:</p>
</div>

```python
a = 'abc' # str
a = 10    # int
```

<div>
    <p>So, we can see a basic different between Statically and Dynamically typed languages is that in Static Typing, we cannot change the type of the variable whereas in Dynammic Typing, we can change the type of the variable.</p>
    <p>Example:</p>
</div>

In [ ]:
def print_name(name):
    print(name)

print_name('Aashish')
# Aashish

print_name = 10

# print_name('Aashish')
# TypeError: 'int' object is not callable

Aashish

<div>
    <p>
        <b>Rules for working with Variables:</b>
        <ul>
            <li>Always choose <b>meaningful</b> names.</li>
            <li>In variable names, use a noun, such as <b>name</b>, <b>comments</b>, <code><b>new_photos</b></code>, etc. <b>The variable name should answer the question, "What does it contain?"</b></li>
            <li>Names of functions and methods begin with a verb, for example, <code><b>get_data</b></code>, <code><b>create_request</b></code>, <code><b>merge_names</b></code>, etc. <b>The function name should answer the question, "What does it perform or return?"</b></li>
        </ul>
    </p>
</div>

## Types and Data Structures Overview

<div>
    <p>There are <b>no primitive types</b> in python. There are <b>mutable</b> and <b>immutable</b> objects in Python:</p>
    <ol>
        <li>
            <b>Mutable Object</b>:  Examples: Lists, Dictionaries, etc.
            <span>The object is mutable if we are able to modify this object.  Types of Mutable Objects:</span>
            <ul>
                <li>List (<code>list</code>)</li>
                <li>Dictionary (<code>dict</code>)</li>
                <li>Set (<code>set</code>)</li>
                <li>User-defined classes</li>
            </ul>
            <span></span>
        </li>
        <li>
            <b>Immutable Object</b>:
            <span> The object is immutable if we cannot modify the object. Types of Immutable Objects:</span>
            <ul>
                <li>String (<code>str</code>)</li>
                <li>Integer (<code>int</code>)</li>
                <li>Boolean (<code>bool</code>)</li>
                <li>Decimal Numbers (<code>float</code>)</li>
                <li>Tuple (<code>tuple</code>)</li>
                <li>None (<code>NoneType</code>)</li>
            </ul>
            <span>We cannot modify the objects of any of the above types in python but we can create another object of the same type.</span>
        </li>
    </ol>
    <p></p>
</div>

## Variables and Objects

<div>
    <p>There is memory in each computer and when we create variable, we assign a specific value to the variable and we give a name to the variable. We know that every value in Python is an object and such object is created in the memory of the computer. When we create a new variable, then a new object is created for that variable in the computer memory. Here, variables and variable names are just pointers to specific memory locations as they point to specific objects. There are different objects in the memory and, there are different variables which point to specific locations in memory. Also, each object in memory has its location (called ID). It is placed in memory where the object is stored. This means that each variable contains a <b>Reference</b> to the Object. This applies to all variables in Python because each value in Python is an object.</p>
    <p>We can obtain the address of an object as:</p>
</div>

```python
id(NAME_OF_THE_VARIABLE)
```

<div>
    <p>We can print the Object Address as:</p>
</div>

In [ ]:
my_name = "Aashish"
print("Object Address: {}".format(id(my_name)))

Object Address: 132932828511024

<div><p>Examples:</p></div>

In [ ]:
my_number = 10
print("Object Address: {}".format(id(my_number)))

Object Address: 132933257724432

In [ ]:
my_string = 'abc'
print("Object Address: {}".format(id(my_string)))

Object Address: 132933256548592

<div>
    <p>It is also possible that the variables refer to one object in the memory. It is possible if they contain pointer to the same object in memory. For example:</p>
</div>

In [ ]:
my_number = 10
print("Object Address: {}".format(id(my_number)))

Object Address: 132933257724432

In [ ]:
other_number = my_number
print("Object Address: {}".format(id(other_number)))

Object Address: 132933257724432

<div>
    <p>In the above example, we can see the ID of <code>my_number</code> and <code>other_number</code> is the same. We are receiving the same location of the object in memory because, here, we are simply copying a pointer (a pointer to a specific object in memory). This means that the Object addresses are the same for both of them.</p>
</div>

## Using the Built-in <code>id()</code> Function

<div>
    <p>It allows us to get the ID of any object in Python. We know that even <code>print</code> is an object, so we can obtain the ID of the <code>print</code> as:</p>
</div>

In [ ]:
print("ID of print Object: {}".format(id(print)))

ID of print Object: 132933258335536

<div><p>We can obtain the ID of the user-defined variables as:</p></div>

In [ ]:
my_name = 'Aashish'
print("ID of my_name Object: {}".format(id(my_name)))

ID of my_name Object: 132932828511024

In [ ]:
my_num = 1
print("ID of my_name Object: {}".format(id(my_num)))

ID of my_name Object: 132933257724144

In [ ]:
other_num = my_num
print("ID of my_name Object: {}".format(id(other_num)))

ID of my_name Object: 132933257724144

<div><p>From the above, we can see that ID of <code>my_num</code> and <code>other_num</code> are same which means that they point to the same location in memory. This means that there is only one location where the value <code>1</code> is stored but there are two pointers to that number. We can compare them as:</p></div>

In [ ]:
print("Result of ID Comparison: {}".format((id(my_num) == id(other_num))))

ID Comparison: True

## Exploring Core Data Classes (str, int, bool, list, dict)

<div>
    <p>We can determine if a particular variable is an instance of a specific class or not as:</p>
</div>

In [ ]:
# Declaring Variable:
my_num = 1

# Determining Type
print("Type of 'my_num': {}".format(type(my_num)))

Type of 'my_num': <class 'int'>

<div>
    <p>In the above output, we can see that the <code>type()</code> function returns us an <code>int</code> because the value <code>1</code> is an object which is an instance of the built-in <code>int</code> class. We can even compare the instance classes as:</p>
</div>

In [ ]:
print("Comparison of 'my_num' and instance class: {}".format((type(my_num) == int)))

Comparison of 'my_num' and instance class: True

<div>
    <p>While making the comparison, we are using the class <code>int</code> without any quotations, which means that we are providing the name of the class itself and not a string value for comparison.</p>
    <p>We can see that we receive <code>True</code> because the <code>type()</code> function returns the object's type type which in this case is <code>int</code> and hence it matches.</p>
    <p>We can even obtain the type of the instance classes as:</p>
</div>

In [ ]:
print("Type of instance class 'int': {}".format(type(int)))

Type of instance class 'int': <class 'type'>

<div>
    <p>Here, we can see the class as <code>type</code>. When we obtain such output, then it means that the specific object is a class and it is used for the creation of instances for that class.</p>
    <p>We can check the same for other instance classes as:</p>
</div>

In [ ]:
print("Type of instance class 'int': {}".format(type(int)))
print("Type of instance class 'str': {}".format(type(str)))
print("Type of instance class 'bool': {}".format(type(bool)))
print("Type of instance class 'list': {}".format(type(list)))
print("Type of instance class 'dict': {}".format(type(dict)))

Type of instance class 'int': <class 'type'>
Type of instance class 'str': <class 'type'>
Type of instance class 'bool': <class 'type'>
Type of instance class 'list': <class 'type'>
Type of instance class 'dict': <class 'type'>

<div>
    <p>This proves that all these variables represents classes and they are built-in classes for creation or different objects of different types.</p>
</div>

## Using the Built-in <code>isinstance()</code> Function

<div>
    <p><b>Return: </b>Return whether an object is an instance of a class or of a subclass thereof.</p>
    <p><b>Description:</b> A tuple, as in <code>isinstance(x, (A, B, ...))</code>, may be given as the target to check against. This is equivalent to <code>isinstance(x, A)</code> or <code>isinstance(x, B)</code> or ... etc.</p>
    <p>We have the <b>definition</b> as:</p>
</div>

```python
def isinstance(
    __obj: object,
    __class_or_tuple: type | tuple[type | tuple[Any, ...], ...]
)
```

<div><p>For example, we can check whether a particular value is an instance of a specific class or not as:</p></div>

In [ ]:
print("Result: {}".format(isinstance(1, int)))
print("Result: {}".format(isinstance(1, object)))
print("Result: {}".format(isinstance('1', str)))

Result: True
Result: True
Result: True

<div><p>So, we can see that each of the values are instance of the built-in object class.</p></div>

# 12. Strings

## Strings

<div>
    <p><b>String</b> is a sequence of characters.</p>
</div>

### Structure and Syntax

In [ ]:
my_name = 'Aashish'
print(my_name)

<div><p>In the above example, we have created a string <code>Aashish</code> and assigned it to the above variable <code>my_name</code>.</p></div>

In [ ]:
greetings = "Hello from Python!!"
print(greetings)

Hello from Python!!

<div><p>We can create a multi-line string as:</p></div>

In [ ]:
info_msg = """You are
learning the easiest
programming language -
Python!"""

print(info_msg)

You are
learning the easiest
programming language -
Python!

### Built-in Functions and Strings

#### Length of String

In [ ]:
my_name = 'Aashish'
print("Length of String: {}".format(len(my_name)))

Length of String: 7

#### First Character of String

In [ ]:
my_name = 'Aashish'
print("First Character of String: {}".format(my_name[0]))

First Character of String: A

#### Substring from the String

In [ ]:
my_name = 'Aashish'
print("Substring from the String: {}".format(my_name[3:6]))

Substring from the String: his

### String Methods

<div>
    <p>The methods which are accessible using the Dot Operator tend to create a new instance of the class. Some of the methods which we have are:</p>
    <ul>
        <li><code>capitalize()</code></li>
        <li><code>count()</code></li>
        <li><code>index()</code></li>
        <li><code>lower()</code></li>
        <li><code>replace()</code></li>
        <li><code>upper()</code></li>
    </ul>
</div>

## String Manipulation

<div><p>Example:</p></div>

In [ ]:
long_str = 'This is a very log string'

print("String: {}".format(long_str))
print("Type of String: {}".format(type(long_str)))
print("Checking if Type is String: {}".format((type(long_str) == str)))
print("ID of String: {}".format(id(long_str)))

String: This is a very log string
Type of String: <class 'str'>
Checking if Type is String: True
ID of String: 132932476065376

In [ ]:
long_str = "This is a very log string"

print("String: {}".format(long_str))
print("Type of String: {}".format(type(long_str)))
print("Checking if Type is String: {}".format((type(long_str) == str)))
print("ID of String: {}".format(id(long_str)))

String: This is a very log string
Type of String: <class 'str'>
Checking if Type is String: True
ID of String: 132932801650624

<div><p>To use an apostrophe inside the string, we will need to use the Escape Character for the String to recognize it. For example:</p></div>

In [ ]:
# long_str = 'It's a great day today' ## Error
long_str = 'It\'s a great day today'

print("String: {}".format(long_str))
print("Type of String: {}".format(type(long_str)))
print("Checking if Type is String: {}".format((type(long_str) == str)))
print("ID of String: {}".format(id(long_str)))

String: It's a great day today
Type of String: <class 'str'>
Checking if Type is String: True
ID of String: 132932475859664

In [ ]:
long_str = "It\'s a great day today"

print("String: {}".format(long_str))
print("Type of String: {}".format(type(long_str)))
print("Checking if Type is String: {}".format((type(long_str) == str)))
print("ID of String: {}".format(id(long_str)))

String: It's a great day today
Type of String: <class 'str'>
Checking if Type is String: True
ID of String: 132932476062976

<div><p>But we need to use the Escape Character only if we are using single quotes. If we are using double quotes, then it is not necessary for us to use the Escape Character. For Example:</p></div>

In [ ]:
long_str = "It's a great day today"

print("String: {}".format(long_str))
print("Type of String: {}".format(type(long_str)))
print("Checking if Type is String: {}".format((type(long_str) == str)))
print("ID of String: {}".format(id(long_str)))

String: It's a great day today
Type of String: <class 'str'>
Checking if Type is String: True
ID of String: 132932475874928

<div><p>We can split the string into multiple lines as:</p></div>

In [ ]:
long_str = "This is a " \
            "very log string"

print("String: {}".format(long_str))
print("Type of String: {}".format(type(long_str)))
print("Checking if Type is String: {}".format((type(long_str) == str)))
print("ID of String: {}".format(id(long_str)))

String: This is a very log string
Type of String: <class 'str'>
Checking if Type is String: True
ID of String: 132932843901680

## String Methods

### Access First Character of String

In [ ]:
my_comment = "This is a short comment."
print("First Character of String: {}".format(my_comment[0]))

First Character of String: T

### Access any Character of String

In [ ]:
my_comment = "This is a short comment."
print("Second Character of String: {}".format(my_comment[2]))
print("Fifth Character of String: {}".format(my_comment[5]))
print("Tenth Character of String: {}".format(my_comment[10]))
print("Last Character of String: {}".format(my_comment[len(my_comment)-1]))

Second Character of String: i
Fifth Character of String: i
Tenth Character of String: s
Last Character of String: .

### Count Method

<div>
    <p><b>Description:</b> It returns the number of non-overlapping occurrences of substring <code>sub</code> in string <code>S[start:end]</code>. Optional arguments <code>start</code> and <code>end</code> are interpreted as in slice notation.</p>
    <p><b>Documentation:</b></p>
</div>

```python
NAME_OF_VARIABLE.count(
    sub[, start[, end]]
) -> int
```

<div>
    <p>For example, suppose we want to count the number of occurences of spaces (' ') in the string:</p>
</div>

In [ ]:
my_comment = "This is a short comment."
print("Number of Spaces in the String: {}".format(my_comment.count(' ')))

Number of Spaces in the String: 4

### Find in String
<div><p>Suppose we want to find the word <code>short</code> in the string, then we can use the <code>find()</code> method as:</p></div>

In [ ]:
my_comment = "This is a short comment."
print("Found at position: {}".format(my_comment.find('short')))

Found at position: 10

<div><p>We can see that it returns the starting index of the first character of the provided string as soon as the provided string is found. It will return <code>-1</code> if the provided substring is not present in the string as:</p></div>

In [ ]:
my_comment = "This is a short comment."
print("Found at position: {}".format(my_comment.find('long')))

Found at position: -1

### Length of String

In [ ]:
my_comment = "This is a short comment."
print("Length of String: {}".format(len(my_comment)))

Length of String: 24

### Replace Method

<div>
    <p><b>Description:</b> It returns a copy with all occurrences of substring old replaced by new.</p>
    <p><b>Documentation:</b></p>
</div>

```python
NAME_OF_VARIABLE.replace(
    self: str,
    __old: str,
    __new: str,
    __count: SupportsIndex = ...
) -> str
```

<div>
    <p>Here, <code>count</code> represents the maximum number of occurrences to replace. Here, <code>-1</code> is the default value which means replace all the occurrences.</p>
    <p>If the optional argument <code>count</code> is given, only the first count occurrences are replaced.</p>
    <p>For example, suppose we want to replace the word <code>short</code> with <code>long</code>, then we perform that as:</p>
</div>

In [ ]:
new_comment = my_comment.replace('short', 'long')
print("New String: {}".format(new_comment))

New String: This is a long comment.

### Split Method

<div>
    <p><b>Return:</b> It returns a list of the substrings in the string, using <code>sep</code> as the separator string.</p>
    <p><b>Documentation Syntax</b>: </p>
</div>

```python
def split(
    self,
    sep: str | None = ...,
    maxsplit: SupportsIndex = ...
) -> list[str]
```

<div>
    <p><b>Description of Arguments:</b></p>
    <ul>
        <li>
            <b><code>sep</code></b>:
            <ul>
                <li>It is the separator used to split the string.</li>
                <li>When set to <code>None</code> (the default value), it will split on any whitespace character and will discard empty strings from the result.</li>
            </ul>
        </li>
        <li>
            <b><code>maxsplit</code></b>:
            <ul>
                <li>Maximum number of splits (starting from the left).</li>
                <li>-1 (the default value) means no limit.</li>
            </ul>
        </li>
    </ul>
</div>

In [ ]:
my_comment = "This is a short comment."
print("Found at position: {}".format(my_comment.split(' ')))

Found at position: ['This', 'is', 'a', 'short', 'comment.']

### Substring from the String

<div><p>In this, the last character is not inclusive.</p></div>

In [ ]:
my_comment = "This is a short comment."
print("Substring from the String: {}".format(my_comment[3:6]))

Substring from the String: s i

### Substring starting from a specific point

In [ ]:
my_comment = "This is a short comment."
print("Substring from the String: {}".format(my_comment[3:]))

Substring from the String: s is a short comment.

### Substring with a certain number of characters
<div><p>For example, we want to obtain a substring with the first 10 characters.</p></div>

In [ ]:
my_comment = "This is a short comment."
print("Substring from the String: {}".format(my_comment[:10]))

Substring from the String: This is a

### Substring starting from the beginning till a specific point from the end
<div><p>We can obtain a substring from the beginning to the last know character as:</p></div>

In [ ]:
my_comment = "This is a short comment."
print("Substring from the String: {}".format(my_comment[:-1]))

Substring from the String: This is a short comment

In [ ]:
my_comment = "This is a short comment."
print("Substring from the String: {}".format(my_comment[:-10]))

Substring from the String: This is a shor

# 13. String Concatenation

## String Concatenation

### Using Plus Operator

<div>
    <p>To concatenate two different strings, we can ues the <b>Plus (<code>+</code>) Operator</b>, for example:</p>
</div>

In [ ]:
string1 = "Hello "
string2 = "Python"
print("String after concatenation: {}".format((string1 + string2)))

String after concatenation: Hello Python

<div>
    <p>We can even utilize variables in strings as:</p>
</div>

In [ ]:
hello = "Hello"
world = "World"

greeting = hello + ' ' + world

print("String after concatenation (using + Operator): {}".format(greeting))

String after concatenation (using + Operator): Hello World

<div>
    <p>Adding a space manually between words is not very convinient when we are creating longer strings. In order to avoid making mistakes, we can use <b>String Formatting</b>.</p>
</div>

### String Formatting

<div>
    <p>We can create a formatted string using the following method:</p>
</div>

In [ ]:
hello = "Hello"
world = "World"

greeting = f"{hello} {world}"

print("String after concatenation (using String Formatting): {}".format(greeting))

String after concatenation (using String Formatting): Hello World

<div>
    <p>In String Formatting, we can even call a function or use any expression within the string instead of using a variable which makes it's use more convinient as compared to the Plus Operator.</p>
</div>

## Concatenating Strings using the <code>+</code> Operator

<div><p>Example:</p></div>

In [ ]:
my_name = "Aashish"
my_sport = "Basketball"
time = 8

info = my_name + ' plays ' + my_sport + ' at ' + str(time) + ' o\'clock.'

print(info)

Aashish plays Basketball at 8o'clock.

<div><p>While using + Operator, we need to ensure that all the parts which we are concatenating are of string data type otherwise the interpreter will throw an error.</p></div>

## Using f-strings for String Formatting

<div><p>Examples:</p></div>

In [ ]:
my_name = "Aashish"
my_sport = "Basketball"
time = 8

info = f"{my_name} plays {my_sport} at {str(time)} o\'clock."

print(info)

Aashish plays Basketball at 8 o'clock.

<div><p>While using + Operator, we need not ensure that all the parts which we are concatenating are of string data type because string formatting will handle it automatically, so the below code will not throw any error:</p></div>

In [ ]:
my_name = "Aashish"
my_sport = "Basketball"
time = 8

info = f"{my_name} plays {my_sport} at {time} o\'clock."

print(info)

Aashish plays Basketball at 8 o'clock.

<div><p>So, with String Formatting, we can use data of different data types as well (for example, we can use lists directly).</p></div>

## Alternative String Formatting Methods

### Using the <code>format()</code> Method
<div><p>Example:</p></div>

In [ ]:
my_name = "Aashish"
my_sport = "Basketball"
time = 8

info = "{} plays {} at {} o\'clock.".format(my_name, my_sport, time)

print(info)

Aashish plays Basketball at 8 o'clock.

### String Interpolation
<div><p>Example:</p></div>

In [ ]:
my_name = "Aashish"
my_sport = "Basketball"
time = 8

info = "%s plays %s at %s o\'clock." % (my_name, my_sport, time)

print(info)

Aashish plays Basketball at 8 o'clock.

# 14. Numeric Types

## Integers

<div>
    <p>Every number which does not have the decimal part is called an Integer. Each such number is an instance of the built-in class <code>int</code>.</p>
</div>

### Structure and Syntax

In [ ]:
jobs_qty = 10

print("No. of Jobs: {}".format(jobs_qty))
print("Type of Variable: {}".format(type(jobs_qty)))

No. of Jobs: 10
Type of Variable: <class 'int'>

### Conversion of Input

<div><p>Even if we want to take an integer input, it will be taken as a string value, by default, and we will need to explicitly convert to the required type as:</p></div>

In [ ]:
jobs_qty = input("Enter the number of jobs: ")
print("No. of Jobs: {}".format(jobs_qty))
print("Type of Variable: {}".format(type(jobs_qty)))
jobs_qty = int(jobs_qty)
print("No. of Jobs: {}".format(jobs_qty))
print("Type of Variable: {}".format(type(jobs_qty)))

No. of Jobs: 10
Type of Variable: <class 'int'>
Enter the number of jobs: 10
No. of Jobs: 10
Type of Variable: <class 'str'>
No. of Jobs: 10
Type of Variable: <class 'int'>

### Exponentiation

In [ ]:
base = 5
power = 3

print("5 power 3: {}".format(pow(base, power)))
print("5 power 3: {}".format(base**power))

5 power 3: 125
5 power 3: 125

### Long Numbers

<div><p>We can represent long numbers using underscore (<code>_</code>) in between. This will help in making the number more clear to read. We are allowed to use only one underscore between two digits and using more than one underscore will throw an error.</p></div>

In [ ]:
one_million = 1_000_000

print("One Million: {}".format(one_million))

One Million: 1000000

In [ ]:
a_number = 3_427

print("A Number: {}".format(a_number))

A Number: 3427

## Integer Manipulation

### Conversion of Input

<div><p>Even if we want to take an integer input, it will be taken as a string value, by default, and we will need to explicitly convert to the required type as:</p></div>

In [ ]:
jobs_qty = input("Enter the number of jobs: ")
print("No. of Jobs: {}".format(jobs_qty))
print("Type of Variable: {}".format(type(jobs_qty)))
jobs_qty = int(jobs_qty)
print("No. of Jobs: {}".format(jobs_qty))
print("Type of Variable: {}".format(type(jobs_qty)))

Enter the number of jobs: 10
No. of Jobs: 10
Type of Variable: <class 'str'>
No. of Jobs: 10
Type of Variable: <class 'int'>

### Invalid Input

<div><p>We would be thrown with an error if we were to provide an input which is not an integer when we try to convert it into an integer, for example:</p></div>

In [ ]:
input_str = input("Enter a number: ")
print("Type of input: {}".format(type(input_str)))
try:
    input_num = int(input_str) # Error
    print("Type of input: {}".format(type(input_num)))
except ValueError:
    print("Not able to convert to int")

Enter a number: abc
Type of input: <class 'str'>
Not able to convert to int

## Float Numbers

<div>
    <p>Numbers with a Decimal point are <b>Floating Point</b> numbers.</p>
</div>

### Structure and Syntax

In [ ]:
average_price = 17.25

print("Average Price: {}".format(average_price))
print("Type of Value: {}".format(type(average_price)))

Average Price: 17.25
Type of Value: <class 'float'>

### Conversion of Numbers

<div><p>We can convert a number to a floating-point number using the <code>float()</code> function as:</p></div>

In [ ]:
average_price = 28.75

price(int())

print("Average Price: {}".format(average_price))
print("Type of Value: {}".format(type(average_price)))

## Floating-point Number Manipulation

## Working with Complex Numbers

# 15. Boolean Values

## Boolean Values

## Working with Boolean Values

## Type Conversion

# 16. Magic Methods

## Magic Methods

## Utilizing Magic Attributes and Methods

# 17. Lists

## Lists

## List Methods

## Working with Lists

## Copying Lists

# 18. Dictionaries

## Dictionaries

## Manipulating Dictionaries

## Dictionary Methods

## Other Operations with Dictionaries

## Converting Other Types to a Dictionary

## Working with Dictionaries

# 19. Tuples

## Tuples

## Tuple Manipulation

# 20. Sets

## Sets

## Working with Sets

## Understanding Set Theory

## Set Methods

## Usage of the Sets Methods

## Calculating Symmetric Difference of Sets

## Working with Sets

# 21. Ranges

## Ranges

## Range Manipulation

## Range Methods and Attributes

# 22. Working with Sequences

## Built-in Functions for Sequences

## Built-in <code>zip()</code> Function

## Working with Zip Objects

## Converting a Zip Object to a Dictionary

## Comparison of Different Sequences

# 23. Modifying Objects in Python

## Understanding Immutable Objects in Python

## Understanding Mutable Objects in Python

## Strategies to Prevent Object Mutation

## Creating Deep Copies of Objects

# 24. Functions

## Functions

## Calling Functions, Arguments vs Parameters

## Shortest Function in Python

# 25. Function Arguments

## Mutable and Immutable Arguments in Function Calls

## Using Mutable and Immutable Objects as Function Arguments

## Mandatory and Optional Positional Arguments

## Functions Manipulation

## Function Arguments

# 26. Args and kwargs in Functions

## Using <code>*args</code> to Gather Positional Arguments into a Tuple

## Keyword Arguments

## Working with Keyword Arguments

## Using <code>*kwargs</code> to Merge Keyword Arguments in a Dictionary

## Manipulating Function Arguments

## Args and kwargs

## Gathering Positional Arguments into the <code>*args</code> Tuple

## Gathering All Keyword Arguments into the <code>**kwargs</code> Dictionary

# 27. Default Function Parameters

## Default Functon Parameters

## Using Default Function Parameters

# 28. Docstrings

## Docstrings

## Writing and Using Docstrings

## Exploring Docstrings

## Adding Docstrings to Functions

# 29. Callback Functions

## Callback Functions

## Rules for Working with Functions

# 30. Global and Local Variables

# AI Tool Landscape

## AI Landscape
<div>
    <ul>
        <li><b>Developing at high pace</b>: Due to advances in hardware, infrastructure, and models</li>
        <li><b>Tools that make AI easy</b>: Modern tools allow focus on major architectural decisions</li>
        <li><b>Python Integration</b>: Python is widely used for AI prototyping and inside products</li>
    <ul>
</div>

## Types of AI Tools

<div>
    <ul>
        <li><b>Data Gathering</b> (Spark, Hadoop)</li>
        <li><b>Data Pre-processing </b> (R, Pandas)</li>
        <li><b>Model Building</b> (Tensor Flow, Keras)</li>
        <li><b>Model Management</b> (MetaFlow, MLFlow)</li>
        <li><b>Model Production</b> (TFServing, Azure Kubernetes Services)</li>
        <li><b>Data Analytics and Visualisation</b> (Tableau, Ploty)</li>
    </ul>
</div>